{% extends '@EasyAdmin/crud/detail.html.twig' %}

{% block main %}
    <div>{{ property_navigation(entity.instance) }}</div>

    <div class="card">
        <div class="card-header">Details</div>
        {{ parent() }}
    </div>

    <div style="clear:both;"></div>

    <div class="row gx-0 mt-3">
        {{ include('admin/EDoc/eDocsCard.html.twig', {
            eDocs: eDocsByType[constant('App\\Constant\\PropertyEDocType::DEED')]|default([]),
            type:constant('App\\Constant\\PropertyEDocType::DEED'),
            caption:'Deeds',
            owner: entity.instance,
            width: 6
        }) }}
        {{ include('admin/EDoc/eDocsCard.html.twig', {
            eDocs: eDocsByType[constant('App\\Constant\\PropertyEDocType::ELECTRICITY')]|default([]),
            type:constant('App\\Constant\\PropertyEDocType::ELECTRICITY'),
            caption:'C.F.E.',
            owner: entity.instance,
            icon: 'fa fa-bolt',
            width: 6
        }) }}
    </div>

    <div class="row gx-0 mt-3">
        {{ include('admin/EDoc/eDocsCard.html.twig', {
            eDocs: eDocsByType[constant('App\\Constant\\PropertyEDocType::HANDOVER')]|default([]),
            type:constant('App\\Constant\\PropertyEDocType::HANDOVER'),
            caption:'Handovers',
            owner: entity.instance,
            icon: 'fa fa-arrow-right',
            width: 6
        }) }}
        {{ include('admin/EDoc/eDocsCard.html.twig', {
            eDocs: eDocsByType[constant('App\\Constant\\PropertyEDocType::CHECKOUT')]|default([]),
            type:constant('App\\Constant\\PropertyEDocType::CHECKOUT'),
            caption:'Checkouts',
            owner: entity.instance,
            icon: 'fa fa-arrow-left',
            width: 6
        }) }}
    </div>

    <div class="row gx-0 mt-3">
        {{ include('admin/EDoc/eDocsCard.html.twig', {
            eDocs: eDocsByType[constant('App\\Constant\\PropertyEDocType::REPAIRS')]|default([]),
            type:constant('App\\Constant\\PropertyEDocType::REPAIRS'),
            caption:'Repairs',
            owner: entity.instance,
            icon: 'fa fa-wrench',
            width: 6
        }) }}
        {{ include('admin/EDoc/eDocsCard.html.twig', {
            eDocs: eDocsByType[constant('App\\Constant\\PropertyEDocType::MAINTENANCE')]|default([]),
            type:constant('App\\Constant\\PropertyEDocType::MAINTENANCE'),
            caption:'Maintenance',
            owner: entity.instance,
            icon: 'fa fa-wrench',
            width: 6
        }) }}
    </div>
    <div class="row gx-0 mt-3">
        {{ include('admin/EDoc/eDocsCard.html.twig', {
            eDocs: eDocsByType[constant('App\\Constant\\PropertyEDocType::CONTRACT')]|default([]),
            type:constant('App\\Constant\\PropertyEDocType::CONTRACT'),
            caption:'Contracts',
            owner: entity.instance,
            icon: 'fa fa-file-contract',
            width: 6
        }) }}
        {{ include('admin/EDoc/eDocsCard.html.twig', {
            eDocs: eDocsByType[constant('App\\Constant\\PropertyEDocType::PROPERTY_TAX')]|default([]),
            type:constant('App\\Constant\\PropertyEDocType::PROPERTY_TAX'),
            caption:'Property Taxes',
            owner: entity.instance,
            icon: 'fa fa-calculator',
            width: 6
        }) }}
    </div>

{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
{% endblock %}
