{% embed 'admin/_common/collapsible_card.twig' with { icon:'fa fa-info', title: 'Details' } %}
    {% block card_body %}

        <div class="field-group">
            <div class="caption">Month</div>
            <div class="value"> {{ ("1-" ~ statement.month ~ "-" ~ statement.year)|date("F Y") }}</div>
        </div>
        <div class="field-group">
            <div class="caption">Balance</div>
            <div class="value">
                {% set diff = statement.startingBalance - statement.endingBalance %}
                {% if diff > 0 %}
                    {{ statement.startingBalance|cent_amount }} - {{ diff|cent_amount }}
                {% else %}
                    {{ statement.startingBalance|cent_amount }} + {{ (-1 * diff)|cent_amount }}
                {% endif %}
                = <strong>{{ statement.endingBalance|cent_amount(true) }}</strong></div>
        </div>
        <div class="field-group">
            <div class="caption">Transactions</div>
            <div class="value">+{{ statement.noDeposits }} deposits<br/> -{{ statement.noWithdrawals }} withdrawals
            </div>
        </div>
        <div class="field-group">
            <div class="caption">Folder</div>
            <div class="value">
                {% set folderPath = entity.instance.financialMonth|financial_month_path %}
                <a href="folderopener://{{ folderPath }}">
                    <i class="fa fa-folder"></i>
                </a>&nbsp
                <span style="font-family: monospace" id="financial-month-path">{{ folderPath }}</span>
            </div>
        </div>

    {% endblock %}
{% endembed %}
