{% embed 'admin/_common/collapsible_card.twig' with {
    icon:'fa fa-paperclip',
    title: 'Related Documents',
} %}
    {% block card_body %}

        {% if otherDocuments|length %}
            <table class="table table-hover">
                {% for document in otherDocuments %}
                    <tr data-droppable-id="{{ document.id }}" data-droppable-type="attachment"
                        class="attachment draggable">
                        <td>{{ document.sequenceNo }}</td>
                        <td>{{ document.type.value }}</td>
                        <td>
                            {{ document.filename }}
                        </td>
                        <td class="text-right">{{ document.amount|cent_amount(true) }}</td>
                        <td class="text-right" style="white-space: nowrap">
                            <a target="download" href="{{ document|ea_url('detail', 'Document') }}"><i
                                        class="fa fa-eye"></i></a>
                            <a target="download" href="{{ path('admin_document_download', {document:document.id}) }}"><i
                                        class="text-muted {{ file_icon(document.filename) }}"></i></a>

                            {% if document.isRelated and document.statement %}
                                <a title="un-link from statement"
                                   href="{{ ea_url()
                                       .setController('App\\Controller\\Admin\\DocumentCrudController')
                                       .setAction('unrelate')
                                       .setRoute('admin_document_unrelate', {document:document.id})
                                       .setEntityId(document.id) }}"
                                   ><i class="fa fa-unlink"></i></a>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            -
        {% endif %}

    {% endblock %}
{% endembed %}
