{% embed 'admin/_common/collapsible_card.twig' with {
    icon:'fa fa-paperclip',
    title: 'Attachments',
    collapsed: attachments|length == 0
} %}
    {% block card_body %}

        {% if attachments|length %}
            <table class="table table-hover">
                {% for document in attachments %}
                    <tr data-droppable-id="{{ document.id }}" data-droppable-type="attachment"
                        class="attachment draggable">
                        <td class="drag-handle" title="Drag to move"><i class="fa fa-arrows-alt"></i></td>
                        <td>{{ document.sequenceNo }}</td>
                        <td>{{ document.type.value }}</td>
                        <td>
                            {{ document.filename }}
                            {% if document.displayFilename is not empty %}
                                <br/>{{ document.displayFilename }}
                            {% endif %}
                        </td>
                        <td class="text-right">{{ document.amount|cent_amount(true) }}</td>
                        <td class="text-right" style="white-space: nowrap">
                            <a target="download" href="{{ document|ea_url('detail', 'Document') }}"><i
                                        class="fa fa-eye"></i></a>
                            <a target="download" href="{{ path('admin_document_download', {document:document.id}) }}"><i
                                        class="text-muted {{ file_icon(document.filename) }}"></i></a>

                            {#                    Document can me marked as related #}
                            {% if not document.isRelated %}
                                <a title="link to statement"
                                   href="{{ ea_url()
                                       .setController('App\\Controller\\Admin\\DocumentCrudController')
                                       .setAction('relate')
                                       .setRoute('admin_document_relate', {document:document.id, statement:statement.id})
                                       .setEntityId(document.id) }}"
                                   class=""><i class="fa fa-link"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            - none -
        {% endif %}

    {% endblock %}
{% endembed %}
