{% extends '@!EasyAdmin/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    {#    <link href="https://font.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> #}
    {#    <link href="https://font.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet"> #}
    {#    <link href="https://font.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> #}
    {#    <link href="https://font.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet"> #}
    {#    <link href="https://font.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet"> #}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('dropzone') }}
{% endblock %}

{% block head_javascript %}

    {{ parent() }}
    {{ encore_entry_script_tags('app') }}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script>
      // replace label text with icon title
      $(document).ready(function() {
        $('table.datagrid td.actions span.action-label').each(function() {
          var labelText = $(this).text() // Get the text of the span
          $(this).prev('i').attr('title', labelText) // Set the text as the title of the <i> element
          $(this).hide() // Hide the span
        })
      })
    </script>

    <script src="/js/renderjson.js"></script>
{% endblock %}

{% block body_javascript %}
    <script>
        {{ parent() }}
        $(document).ready(function() {
          // highlight DOM element if it's referenced in the URL hash
          if (window.location.hash) {
            var hashParts = window.location.hash.slice(1).split('_')
            if (hashParts.length === 2) {
              var prefix = hashParts[ 0 ]
              var id = hashParts[ 1 ]
              var selector = '#' + prefix + '_' + id
              var element = $(selector)

              console.log(selector, element)
              if (element.length) {
                console.log("B ", element)
                element.addClass('hashed-element-hilite')
                // Scroll the element into view
                element[ 0 ].scrollIntoView({behavior: 'smooth', block: 'center'})

                // If the element is focusable, set focus
                if (element.is(':focusable')) {
                  element.focus()
                }
              }
            }
          }
        })
    </script>

{% endblock %}

{% block header_logo %}
    <div class="app-logo-container" title="{{ ea.dashboardTitle|striptags }}">
        {% if app.user %}
            <div class="app-name">FamLedger</div>
            <span class="tenant-caption">{{ tenant().name }} <i class="fa fa-{{ tenant().icon }}"></i></span>
            {% for tenant in tenantOptions() %}
                <div class="tenant-option">
                    <a href="{{ path('admin', { routeName:'tenantSwitch', routeParams: {tenant: tenant.id} }) }}">
                        <i class="fa fa-caret-right"></i>&nbsp;{{ tenant.name }} <i class="fa fa-{{ tenant.icon }}"></i>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock header_logo %}

{% block content_header_wrapper %}
    {{ parent() }}
    <div id="clipboard-popup">
        The text has been copied to your clipboard !
    </div>
{% endblock %}


