{% extends '@EasyAdmin/crud/detail.html.twig' %}
{% set Document = entity.instance %}

{#{% block content_header %}#}
{#    <div class="content-header-title">#}
{#        <div class="d-flex align-items-center">#}
{#            <h1 class="title">#}
{#                Document {{ Document.series }}-{{ Document.number }}#}
{#            </h1>#}
{#            <span class="text-white badge ms-3 {{ Document.status|lower == 'vigente' ? 'bg-success' : 'bg-danger' }}">#}
{#                {{ Document.status | capitalize }}#}
{#            </span>#}
{#            {% if Document.cancellationStatus is not empty %}#}
{#                <span class="ms-3">Cancellation</span> <span class="text-white badge ms-1 bg-warning }}">#}
{#                {{ Document.cancellationStatus }}#}
{#            </span>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}

{#    {% block page_actions_wrapper %}#}
{#        {{ parent() }}#}
{#    {% endblock %}#}
{#{% endblock %}#}

{% block main %}
    {% set document = entity.instance %}

    <div class="row">
        <!-- Left column of cards -->
        <div class="col-md-6">
            {% set content = parent() %}
            {{ include('admin/Document/_cardDocument.html.twig') }}
        </div>
        <!-- Right column of cards -->
        <div class="col-md-6">
            {{ include('admin/Document/_cardAssociation.html.twig') }}
            {{ include('admin/Document/_cardTechnical.html.twig') }}
        </div>
    </div>

    <div class="col-md-12 mt-3">
        {{ include('admin/Document/_cardSpecs.html.twig') }}
    </div>

{% endblock %}