{% set taxNotice = field.value %}
{% set transaction = taxNotice.transaction|default(null) %}
{% set taxPayment = taxNotice.taxPayment|default(null) %}
{% if transaction is not empty %}
    {% set statement = transaction.statement %}
    <a href="{{ statement_url(statement.year, statement.month) }}#position_{{ transaction.sequenceNo }}"><i
                class="fa fa-balance-scale"></i> {{ statement.year }}-{{ statement.month|month_name }}
    </a>&middot;{{ transaction.sequenceNo }}
{% else %}
    {% set statement = taxNotice.statement %}
    {% if statement is not null %}
        <a href="{{ ea_url()
            .setController('App\\Controller\\Admin\\StatementCrudController')
            .setAction('detail')
            .setEntityId(statement.id) }}"><i
                    class="fa fa-balance-scale"></i> {{ statement.year }}-{{ statement.month|month_name }}</a>
    {% endif %}
{% endif %}
